<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Add Listing</div>
        <div class="panel-body">
        </div>
        <div class="panel-body">
            <form class="add_listing_form">
                <input type="text" placeholder="Title" ng-model="ctrl.title" required>
                <select class="select_normal" ng-model="ctrl.listing_type">
                    <option value="good">Good</option>
                    <option value="service">Service</option>
                </select>
                <input type="text" placeholder="Thumb Icon" ng-model="ctrl.thumb_icon">

                <select class="select_normal" ng-model="ctrl.category">
                    <option ng-repeat="category in ctrl.categoryOptions" value="{{category}}">{{category}}</option>
                </select>
                <input type="text" placeholder="Location" ng-model="ctrl.location">
                <input type="text" placeholder="Price Range" ng-model="ctrl.price_range">
                <textarea rows="4" cols="50" placeholder="Details" ng-model="ctrl.details" required></textarea>
                <input type="text" placeholder="Requirements" ng-model="ctrl.requirements">
                <div class="payment_method_holder">
                    <label for="Paypal">Paypal</label>
                    <input class="input_checks" type="checkbox" id="Paypal" value="Paypal" ng-click="ctrl.arrayAdd('Paypal')"/>
                    <label for="Cash">Cash</label>
                    <input class="input_checks" type="checkbox" id="Cash" value="Paypal" ng-click="ctrl.arrayAdd('Cash')"/>
                    <label for="Check">Cashiers Check</label>
                    <input class="input_checks" type="checkbox" id="Check" value="Check" ng-click="ctrl.arrayAdd('Check')"/>
                </div>
                <button ng-click="ctrl.addListing()">Add Listing</button>
            </form>
        </div>
    </div>
</div>
