<div class="listing_wrapper">
    <h2 class="listing_header">{{ctrl.listing.title}}</h2>
    <div class="listing_box">
        <table class="listing_date">
            <tr>
                <th class="ion-calendar"> Posted:</th>
            </tr>
            <tr>
                <td>{{ctrl.listing.post_date}}</td>
            </tr>
        </table>
        <table class="listing_location">
            <tr>
                <th class="ion-ios-location"> Location</th>
            </tr>
            <tr>
                <td>{{ctrl.listing.location}}</td>
            </tr>
        </table>
        <div class="listing_requirements">
            <p class="ion-ios-list-outline listing_req"> Requirements</p>
        </div>
        <div class="listing_image_wrapper"><img class="listing_image" ng-src="ctrl.listing.image"></div>
        <div class="listing_description">
            <p class="ion-compose listing_req"> Details:</p>
            <p class="listing_desc_text"> I am looking for an original blue charger for my S7. Used is okay but new is prefered.</p>
        </div>
        <table class="listing_date">
            <tr>
                <th class="ion-card"> Payment Methods:</th>
            </tr>
            <tr>
                <td>Cash</td>
            </tr>
        </table>
    </div>
</div>