<div class="listing_wrapper">
    <h2 class="listing_header">{{ctrl.listing.title}}</h2>
    <div class="listing_box">
        <div class="listing_description">
            <p class="ion-calendar listing_req"> Posted:</p>
            <p class="listing_desc_text">{{ctrl.listing.post_date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
        </div>
        <table class="listing_location">
            <tr>
                <th class="ion-ios-location"> Location</th>
            </tr>
            <tr>
                <td>{{ctrl.listing.location}}</td>
            </tr>
        </table>
        <div class="listing_requirements">
            <p class="ion-ios-list-outline listing_req"> Requirements</p>
            <ul class="ul_requirements">
                <li ng-repeat="item in ctrl.listing.requirements track by $index">{{item}}</li>
            </ul>
        </div>
        <div class="listing_image_wrapper"><img class="listing_image" ng-src="ctrl.listing.image"></div>
        <div class="listing_description">
            <p class="ion-compose listing_req"> Details:</p>
            <p class="listing_desc_text">{{ctrl.listing.details}}</p>
        </div>
        <table class="listing_date">
            <tr>
                <th ng-if="ctrl.isGood" class="ion-card"> Payment Methods:</th>
                <th ng-hide="ctrl.isGood" class="ion-card"> Pay Requirements:</th>
            </tr>
            <tr>
                <td ng-if="ctrl.isGood">{{ctrl.listing.payment_methods}}</td>
                <td ng-hide="ctrl.isGood">{{ctrl.listing.price_range}}</td>
            </tr>
        </table>
    </div>
</div>