<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Manage Listing</div>
    <div class="panel-body">
    </div>
      <div class="panel-body">
          <form class="add_listing_form">
              <input type="text" placeholder="Title" ng-model="ctrl.title" required>
              <select>
                  <option value="good" ng-model="ctrl.listing_type">Good</option>
                  <option value="service" ng-model="ctrl.listing_type">Service</option>
              </select>
              <input type="text" placeholder="Thumb Icon" ng-model="ctrl.thumb_icon">
              <input type="text" placeholder="Category" ng-model="ctrl.category">
              <select>
                  <option value="items" ng-model="ctrl.category">Items</option>
                  <option ng-repeat="select in ctrl.categories" value="{{select.value}}" ng-model="ctrl.category">{{select.name}}</option>
              </select>
              <input type="text" placeholder="Location" ng-model="ctrl.location">
              <input type="text" placeholder="Buyer Rating" ng-model="ctrl.buyer_rating">
              <input type="date" placeholder="Post Date" ng-model="ctrl.post_date">
              <input type="text" placeholder="Price Range" ng-model="ctrl.price_range">
              <textarea rows="4" cols="50" placeholder="Details" ng-model="ctrl.details" required></textarea>
              <input type="text" placeholder="Requirements" ng-model="ctrl.requirements">
              <input type="text" placeholder="Price Range" ng-model="ctrl.payment_methods">
              <label for="Paypal">Paypal</label>
              <input type="checkbox" id="Paypal" value="Paypal" ng-change="ctrl.arrayAdd('Paypal')"/>
              <label for="Cash">Cash</label>
              <input type="checkbox" id="Cash" value="Paypal" ng-change="ctrl.arrayAdd('Cash')"/>
              <label for="Check">Cashiers Check</label>
              <input type="checkbox" id="Check" value="Check" ng-change="ctrl.arrayAdd('Check')"/>
              <button ng-click="ctrl.addListing()">Add Listing</button>
          </form>
      </div>
  </div>
</div>
