<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Manage Listings</div>
    <div class="panel-body">
    </div>
      <div class="panel-body">
          <table>
              <tr>
                  <th>Title</th>
                  <th>Location</th>
                  <th>Price Range</th>
                  <th></th>
                  <th></th>
              </tr>
              <tr ng-repeat="listing in ctrl.listings" ui-sref="listing-detail({ listing_id: listing._id})">
                  <td>{{listing.title}}</td>
                  <td>{{listing.price_range}}</td>
                  <td>{{listing.location}}</td>
                  <td ng-click="ctrl.removeListing(listing._id); $event.stopPropagation()"><i class="ion-trash-b"></i></td>
                  <td ui-sref="listing-edit({ listing_id: listing._id})"><i class="ion-edit"></i></td>
              </tr>
          </table>
      </div>
  </div>
</div>
